Repository kncaputo/fitlit-refactor-tractor, pull requests merged in 2020-10, with the labels that each got.

#11 Configure webpack
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  src/index.html
  src/scripts.js
Labels: enhancement

#26 Encapsulation station/hydration
  src/ActivityRepository.js
  src/Hydration.js
  src/HydrationRepository.js
  src/User.js
  test/ActivityRepository-test.js
  test/HydrationRepository-test.js
Labels: Hydration, TDD, refactor

#29 Encapsulation station/user
  src/ActivityRepository.js
  src/HydrationRepository.js
  src/Sleep.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/scripts.js
  test/Activity-test.js
  test/ActivityRepository-test.js
  test/Hydration-test.js
  test/HydrationRepository-test.js
  test/Sleep-test.js
  test/SleepRepository-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: TDD, refactor

#33 Refactor/dom elements
  src/ActivityRepository.js
  src/DOMelements.js
  src/UserRepository.js
  src/scripts.js
Labels: DOM Manipulation, refactor

#35 Feature/activity repo wkly averages
  src/ActivityRepository.js
  test/ActivityRepository-test.js
Labels: Activity

#37 Refactor daily calories and total steps this week
  src/ActivityRepository.js
  test/ActivityRepository-test.js
Labels: Activity

#43 Feature/DOM-Display
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/UserRepository.js
  src/index.html
  src/scripts.js
  src/styles.css
Labels: DOM Manipulation, UserRepository, refactor

#42 Form inputs
  src/css/styles.scss
  src/index.html
Labels: DOM Manipulation, enhancement

#44 Refactor/hydration sleep repo
  src/ActivityRepository.js
  src/HydrationRepository.js
  src/SleepRepository.js
  test/ActivityRepository-test.js
  test/HydrationRepository-test.js
  test/SleepRepository-test.js
Labels: TDD

#46 Fix tests in user repo
  src/UserRepository.js
  test/UserRepository-test.js
Labels: TDD, UserRepository
